// Title & Meta tags
= render "app/layouts/meta_tags"

// Stylesheets
= stylesheet_link_tag 'app/application', media: 'all', 'data-turbolinks-track' => true
-# %link{href:'http://fonts.googleapis.com/css?family=Patua+One', rel:'stylesheet', type:'text/css'}
%link{:href => "/assets/css/styles.css", :rel => "stylesheet", :type => "text/css"}/
%link{:href => "/assets/css/flickity.min.css", :rel => "stylesheet", :type => "text/css"}/
%link{:href => "/assets/css/button.css", :rel => "stylesheet", :type => "text/css"}/
%link{:href => "/assets/css/effects.css", :rel => "stylesheet", :type => "text/css"}/
%link{:href => "/assets/css/responsive.css", :rel => "stylesheet", :type => "text/css"}/

-# %link{:href => "//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css", :rel => "stylesheet"}/

// Javascripts
= javascript_include_tag 'app/application', 'data-turbolinks-track' => true
= render "app/layouts/google_adwords"
%script{:src => "//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"}
%script{:src => "/assets/js/slick.min.js"}
%script{:src => "/assets/js/flickity.pkgd.min.js"}
%script{:src => "/assets/js/main.js"}
%script{:src => "http://lightwidget.com/widgets/lightwidget.js"}
%script{:src => "/assets/js/projects.js"}

// Google Analytics
= render 'app/layouts/google_analytics'

// Favicon
= favicon_link_tag @favicon

/ SET CSS
-# %link{:href => "/assets/css/bootstrap.min.css", :rel => "stylesheet", :type => "text/css"}/
-# %link{:href => "/assets/css/font-awesome.min.css", :rel => "stylesheet", :type => "text/css"}/
-# %link{:href => "/assets/css/slick.css", :rel => "stylesheet", :type => "text/css"}/
-# %link{:href => "/assets/css/slick-theme.css", :rel => "stylesheet", :type => "text/css"}/
-# %script{:src => "https://www.google.com/recaptcha/api.js"}
/ SET JS
-# %script{:src => "/assets/js/jquery-3.2.1.min.js"}
-# %script{:src => "/assets/js/bootstrap.min.js"}