!!!
%html{:lang => "en"}
  %head
    = render 'app/layouts/head'
    
%body
  %header#main
    .button-burger
      #burguer.hamburger.hamburger--spin
        .hamburger-box
          .hamburger-inner
    %nav#menu.menu
      .frame-menu
        %ul
          %li
            = link_to root_path do
              %span.item-link inicio
          %li
            = link_to app_about_path + '#about-v'  do
              %span.item-link nosotros
          %li
            = link_to root_path + '#service' do
              %span.item-link productos y servicios
          %li
            = link_to app_tank_path do
              %span.item-link tanques
          %li
            = link_to app_projects_path do
              %span.item-link experiencia
          %li
            = link_to root_path  + '#customers' do
              %span.item-link clientes
          %li
            = link_to app_metalmechanics_path + '#contact-us-services' do
              %span.item-link contáctanos
          %li
            = link_to root_path + '#maps' do
              %span.item-link ubícanos


%section#cover-service
  #metalmecanica-cover.box-cover
    .mask-cover
      #title-service-v Metalmecánica
  .main
    .box-burger
    
%section#services-v
  .container-fluid.fix
    .wallpapers-service
      .patron-services
    .container
      .row
        .col-lg-6
          .box-service-image
            .box-image-service
              = image_tag 'img/cover-metalmecanica.jpg', class: 'img-responsive'
        .col-lg-6
          .title
            %p#description-services-v Desarrollamos obras de envergadura en construcción y arranque de planta.
          #box-services-v
            %p.information-services-v En los últimos años la actividad metalmecánica del país ha experimentado un crecimiento significativo, principalmente en la península de Paraguaná, debido en gran parte a la actividad operacional de refinación que se lleva a cabo en el Complejo Refinador Paraguaná, el Centro Refinador mas grande del mundo.
            %p.information-services-v La división metalmecánica REIMCA está en capacidad de prestar un servicio de calidad realizado por el mejor talento humano, adiestrado, capacitado y certificado por una serie de normas internacionales, empleando la mas alta tecnología en equipos y maquinarias, rapidez en la prestación de servicio, disponibilidad permanente, competitividad en cuanto a precios, utilización de materia prima de primera calidad y con la gran ventaja que nos ofrece contar con una ubicación geográfica estratégica.

%section#contact-us-services
  = render "app/front/contacto_reimca"

%footer#footer
  = render "app/front/footer_reimca"

