!!!
%html{:lang => "en"}
  %head
    = render 'app/layouts/head'

%body
  %header#main
    .button-burger
      #burguer.hamburger.hamburger--spin
        .hamburger-box
          .hamburger-inner
    %nav#menu.menu
      .frame-menu
        %ul
          %li
            = link_to root_path do
              %span.item-link inicio
          %li
            = link_to app_about_path + '#about-v'  do
              %span.item-link nosotros
          %li
            = link_to root_path + '#service' do
              %span.item-link productos y servicios
          %li
            = link_to app_tank_path do
              %span.item-link tanques
          %li
            = link_to app_projects_path do
              %span.item-link experiencia
          %li
            = link_to root_path  + '#customers' do
              %span.item-link clientes
          %li
            = link_to app_tank_path + '#contact-us-services' do
              %span.item-link contáctanos
          %li
            = link_to root_path + '#maps' do
              %span.item-link ubícanos

%section#cover-service
  #tank-cover.box-cover
    .mask-cover
      #title-service-v Tanques
  .main
    .box-burger

%section#services-v
  .container-fluid.fix
    .wallpapers-service
      .patron-services
    .container
      .row
        .col-lg-6
          .box-service-image
            .box-image-service
              = image_tag 'img/DomoG_HMT_01.jpg', class: 'img-responsive'
        .col-lg-6
          .title
            %p#description-services-v Somos Representantes de HMT en Venezuela.
          #box-services-v
            %p.information-services-v Las necesidades de cada cliente son diferentes por eso utilizamos nuestras d&#xE9;cadas de experiencia para individualizar nuestras soluciones ayudando a que el tanque sea m&#xE1;s eficiente, productivo y rentable.
            %span.title-item-list - Lo que podemos hacer -
            %ul.list-item-tank
              %li Construcción de Tanques
              %li Reparación y mantenimiento de tanques
              %li Pintura y recubrimientos
              %li Inspección, calibración, ingeniería y fabricación
              %li Domos Geodésicos de aluminio
              %li Sistemas de techos internos y externos flotantes
              %li Sellos primarios para techos internos y externos flotantes
              %li Dispositivos para reducción de emisiones
              %li Sistemas de drenaje
              %li Válvulas de alivio
                
%section#contact-us-services
  = render "app/front/contacto_reimca"

%footer#footer
  = render "app/front/footer_reimca"